<div class='container' style='display: flex;justify-content: center;align-items: center;height: 100vh;'>

	<div style='width: 50%;'>
		<div class='spinner-border' *ngIf='inSubmitForm'>
			<span class='sr-only'>Loading...</span>
		</div>
		<div class='card'>
			<div class='card-body'>

				<h5 class='card-title'>Login Form</h5>
				<div class='card-text'>
					<form (ngSubmit)="login(formLogin)" #formLogin='ngForm' (change)="formNoError()" (keypress)="formNoError()">

						<div class='form-group'>
							<label for='username'>Username</label>
							<input type='username' class='form-control' id='username' name='username'   required [(ngModel)]="username"  required  />
            </div>
							<div class='form-group'>
								<label for='password'>Password</label>
								<input type='password' class='form-control' id='password' name='password'  required [(ngModel)]="password" required />
            </div>
								<div class='form-group'>
									<small id='errorText' class='text-danger' *ngIf="formHasError">
                    Your form has an error, try again
                </small>
								</div>
								<button type='submit' class='btn btn-primary'>Submit</button>
					</form>
          <div class="row">
            <div class="col-2">
              Access
            </div>
            <div class="col-2">
              {{this.usernameBase}}
            </div>
            <div class="col-4">
              {{this.passwordBase}}
            </div>
          </div>


				</div>
			</div>
		</div>
	</div>
</div>
