<!-- dashboard.component.html -->


<div class='containerMap' >

      <h5 class='card-title'>Map
        <button type='button' class='float-right btn btn-outline-danger btn-sm' (click)='logout()'>Logout</button>
      </h5>
      <div>
        <div class="map"
             id="mapLeafleft"
             leaflet
             #mapLeafleft
             [leafletOptions]="optionsMap"
             [leafletLayersControl]="layersControl"
             (leafletMapReady)="onMapReady($event)">

          <div *ngFor="let deviceOne of deviceArr" [leafletLayer]="deviceOne" [id]="">

          </div>
        </div>

      </div>
</div>
